{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<!-- login.html -->
<body style="background-image: url('{% static "image/mainpage3.jpg" %}'); background-size: cover; background-position: center;">


<div class="container" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
            <h2 class="text-center text-light mb-4">Register</h2>

       
            {% if messages %}
                <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="post" class="bg-white p-5 rounded shadow-lg">
                {% csrf_token %}
                <div class="form-group mb-4">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success btn-block">Register</button>
            </form>

            <p class="text-center text-light mt-4">Already have an account? <a href="{% url 'login' %}" class="text-info">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}
